**
!docker/
!docker/intercode/
!docker/intercode/Dockerfile.agent
!docker/intercode/Dockerfile.evaluator
!docker/intercode/evaluator_placeholder.py
!docker/intercode/state_collector.py
!docker/intercode/setup/
!docker/intercode/setup/setup_nl2b_fs_1.sh
!docker/intercode/setup/setup_nl2b_fs_2.sh
!docker/intercode/setup/setup_nl2b_fs_3.sh
!docker/intercode/setup/setup_nl2b_fs_4.sh
!vendor/
!vendor/intercode/
!vendor/intercode/c3e46d827cfc9d4c704ec078f7abf9f41e3191d8/
!vendor/intercode/c3e46d827cfc9d4c704ec078f7abf9f41e3191d8/docker/
!vendor/intercode/c3e46d827cfc9d4c704ec078f7abf9f41e3191d8/docker/docker.gitignore
